*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.faq-container {
  width: 100%;
}

.wrapper {
  background-color: #ffffff;
  padding: 15px 40px;
  border-radius: var(--sys-radius-16, 16px);
  border: 0.05px solid #ebebeb;
  margin: 16px;
}

.toggle,
.faq-content {
  font-family: "PP Mori";
}

.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 0;

  color: var(--fg-theming-inverse-highest, #000);

  font-family: "PP Mori";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.faq-content {
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
  color: var(--fg-highest, #000);
  font-family: "PP Mori";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.fas {
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: 501;
  padding-left: 4px;
}

@media (min-width: 1500px) {
  .toggle {
    font-size: 20px;
  }
  .faq-content {
    font-size: 18px;
    line-height: 32px;
  }
}
