@font-face {
  font-family: "PP Radio Grotesk";
  src: url("../fonts/radiogrotesk/PPRadioGrotesk-Black.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("../fonts/mori/PPMori-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori bold";
  src: url("../fonts/mori/PPMori-SemiBold.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* General styles */
.header-background {
  background-color: #62ffcf;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  min-height: 131px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: var(--fg-highest, #000);
  font-family: "PP Radio Grotesk";
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase;
}

.navigation-title {
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 70px;
}
.container {
  width: auto;
  padding: 16px;
}

.sub-header {
  font-size: 20px;
  font-weight: 900;
  font-family: PP Radio Grotesk;
  padding-bottom: 20px;
  color: #000000;
  line-height: 20px;
  letter-spacing: -1px;
}

.text {
  color: var(--fg-highest, #000);
  font-family: "PP Mori";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.content-text {
  padding-bottom: 15px;
}

.bold {
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 0;
  color: var(--fg-highest, #000);
  font-family: "PP Mori bold";
}

.list-item {
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  padding-top: 4px;
  padding-right: 4px;
  text-align: start;
}
